<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/register.css">
  </head>
  <body>
    <div class="login-wrapper">
      <div class="login-header">
        <span>Signup</span>
      </div>
      <div class="auth-content">
        <div class="auth-info-area">
          <div class="auth-logo">
            <img
              src="https://www.cipherschools.com/static/media/Cipherschools_icon@2x.3b571d743ffedc84d039.png"
              class="nav-logo"
              alt="cipherschools-logo"
            />
            <h1 class="nav-title">CipherSchools</h1>
          </div>
          <div class="auth-welcome">
            <h2>Create New Account</h2>
            <p>Please provide your valid informations to signup</p>
          </div>
        </div>
        <form method="post" action="" class="auth-form">
          <div class="auth-row">
            <div class="auth-login-error"><span></span></div>
          </div>
          <div class="auth-row">
            <input
              type="text"
              class="auth-input-box"
              placeholder="First Name"
              value=""
              name="firstName"
            />
          </div>
          <div class="auth-row">
            <input
              type="text"
              class="auth-input-box"
              placeholder="Last Name"
              value=""
              name="lastName"
            />
          </div>
          <div class="auth-row">
            <input
              type="email"
              class="auth-input-box"
              placeholder="Email ID"
              value=""
              name="email"
            />
          </div>
          <div class="auth-row">
            <input
              type="number"
              class="auth-input-box"
              placeholder="Phone"
              value=""
              name="phone"
            />
          </div>
          <div class="auth-row">
            <div class="auth-input-password">
              <input
                id="pass"
                type="password"
                class="auth-input-box"
                placeholder="Password"
                value=""
                name="password"
              /><img
                src="https://www.cipherschools.com/static/media/Eye.270f75dfd9c2b2af1ea99439d7cf3d9c.svg"
                alt="eye"
                class="auth-eye-icon"
              />
            </div>
          </div>
         
          <button class="auth-login-btn auth-disabled">
            <span>Create Account</span>
          </button>
          <div class="auth-bottom-row">
            <div class="auth-not-account-text">Already have an account?</div>
            <span><a id="reg" href="/">Signin Now</a></span>
          </div>
        </form>
        
        
      </div>
    </div>
  </body>
</html>
